* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
}

.face,
.back {
  width: 100%;
  height: 100%;
}

